:root {
  --color-black: #252525;
  --color-grey: #f6f6fa;
  --color-white: #ffffff;
  --color-blue: #5051f9;
  --color-prime: #8086fa;
  --color-dark-blue: #050e22;
  --color-light-blue: #050e222b;
  --color-light-prime: #8086fac7;
  --color-red: #e93233;

  --font-size-base: 16px;
  --font-size-title: 32px;

  --font-weight-base: 400;
  --font-weight-bold: 500;

  --border-radius-base: 5px;

  --transition-base: .25s ease-in-out;
}