body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-base);
  line-height: 1.6;
  color: var(--color-black);
  background-color: var(--color-grey);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  background-color: var(--color-white);
  scroll-behavior: smooth;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

h1 {
  color: var(--color-black);
}

input {
  box-sizing: border-box;
  width: 100%;
  padding: 15px;
  background-color: var(--color-grey);
  outline: none;
  border: 1px solid transparent;
  font-style: var(--font-size-base);
  border-radius: var(--border-radius-base);
  transition: var(--transition-base);
  &:focus {
    border: 1px solid var(--color-light-blue);
  }
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;
  background-color: var(--color-prime);
  color: var(--color-white);
  border-radius: var(--border-radius-base);
  padding: 10px 25px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: var(--font-weight-bold);
  transition: var(--transition-base);
  &:hover {
    background-color: var(--color-light-prime);
  }
}

p {
  margin: 0;
}